* {
  text-align: justify;
  text-decoration: none !important;
}

header{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 75px;
  width: 100%;
  display: flex;
}

.hide{
  display: none;
}


.navbar{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.content{
  margin-top: 10px;
}

tr{
  width: auto;
}

#page-container {
  position: relative;
  height: 100vh;
}

#content-wrap{
  position: relative;
  margin-bottom: 3em;
}

#footer{  
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 3em;
}

footer p{
  text-align: center;
  padding: 10px;
  margin: auto;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
